@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(46, 48, 53);
  font-family: 'Geologica', sans-serif;
}

.advice-container h4 {
  font-size: 1rem;
  text-transform: uppercase;
  color: rgb(29, 233, 56);
}

.advice-container h1 {
  color: white;
}
